# Node
app/backend/node_modules/
app/backend/npm-debug.log*

# Variables de entorno — NUNCA al repo
.env
.env.*
!.env.example

# Terraform
**/.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
!terraform.tfvars.example
.terraform.lock.hcl

# OS
.DS_Store
Thumbs.db
